version: '3.8'

services:
  database:
    build:
      context: ./database
      dockerfile: Dockerfile
    container_name: attendance_database
   #
    #
  backend:
    build:
      context: .
      dockerfile: ./backend/Dockerfile
    container_name: attendance_backend
    expose:
      - "5000"
    #
    #
    depends_on:
      - database
    #
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: attendance_frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
    restart: unless-stopped
